<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Prestazione</title>
  <link rel="stylesheet" href="/style4.css">
</head>
<body id="pres">
  <div class="container">
    <div class="login form">
      <header>Aggiungi una prestazione</header>
     <form th:action="@{/admin/prestazioni}" method="post" th:object="${prestazione}">
        <div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
        <div>
			Prezzo finale: <span> <input required type="text" th:field="${prestazione.prezzoFinale}"></span>
			<span th:if="${#fields.hasErrors('prezzoFinale')}" th:errors="*{prezzoFinale}">...</span>
		</div>
		<div>
			Prezzo ricambi: <span> <input required type="text" th:field="${prestazione.prezzoRicambi}"></span>
			<span th:if="${#fields.hasErrors('prezzoRicambi')}" th:errors="*{prezzoRicambi}">...</span>
		</div>
       <div>
			Ore di manodopera: <span> <input required type="text" th:field="${prestazione.oreManodopera}"></span>
			<span th:if="${#fields.hasErrors('oreManodopera')}" th:errors="*{oreManodopera}">...</span>
		</div>
       <div>
			Data di completamento: <span> <input required type="date" th:field="${prestazione.dataCompletamento}"></span>
			<span th:if="${#fields.hasErrors('oreManodopera')}" th:errors="*{oreManodopera}">...</span>
		</div>
        <input type="submit" class="button" value="Conferma">
      </form>
    </div>
  </div>
</body>
</html>