<!DOCTYPE html>
<html>

<head>
	<title>New Review</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

	<h1>Aggiungi una recensione</h1>
	<form class="form" th:action="@{/reviews}" method="post" th:object="${review}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			Titolo: <span> <input class="roundInput" required type="text" th:field="${review.title}"></span>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		</div>
		<div>
			Testo: <span> <input class="roundInput" required type="text" th:field="${review.text}"></span>
			<span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
		</div>
		<div>
			Valutazione(0-5): <span> <input class="roundInput" required type="number"
					th:field="${review.valutation}"></span>
			<span th:if="${#fields.hasErrors('valutation')}" th:errors="*{valutation}"></span>
		</div>
		<div>
			<span> <button class="hero-btn" type="submit">Conferma</button></span>
		</div>
	</form>
	</div>

</body>

</html>