<!DOCTYPE html>
<html>

<head>
	<title>New Prenotazione</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

	<h1>Aggiungi una prenotazione</h1>
	<form th:action="@{/prenotazioni}" method="post" th:object="${prenotazione}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			Modello bici: <span> <input required type="text" th:field="${prenotazione.modelloBici}"></span>
			<span th:if="${#fields.hasErrors('modelloBici')}" th:errors="*{modelloBici}"></span>
		</div>
		<div>
			Data di inserimento: <span> <input required type="date" th:field="${prenotazione.dataInserimento}"></span>
			<span th:if="${#fields.hasErrors('dataInserimento')}" th:errors="*{dataInserimento}"></span>
		</div>
		<div>
			<span> <button type="submit">Conferma</button></span>
		</div>
	</form>
	</div>

</body>

</html>