<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="style2.css">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Register</header>
     <form th:action="@{/register}" method="post">
       <input placeholder="Username" type="text" required th:field="${credentials.username}">
       <input type="password" placeholder="Password" required th:field="${credentials.password}">
       <input type="text" placeholder="Nome" required th:field="${user.name}">
       <input type="text" placeholder="Cognome" required th:field="${user.surname}">
       <input type="text" placeholder="Email" required th:field="${user.email}">
        <input type="submit" class="button" value="Conferma">
      </form>
    </div>
</body>
</html>