<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Inserisci una recensione</title>
	</head>
	
	<body>
		<h1>Scegli quale operazione sulle recensioni effettuare</h1>
		<a href="/formNewReview" class="hero-btn">Inserisci una recensione</a>
		<a href="/reviews" class="hero-btn">Visualizza tutte le recensioni</a>
		<a href="/formNewServizio" class="hero-btn">Inserisci un servizio</a>
		<a href="/servizi" class="hero-btn">Visualizza tutti i servizi</a>
		<a href="/formNewPrenotazione" class="hero-btn">Inserisci una prenotazione</a>
		<a href="/prenotazioni" class="hero-btn">Visualizza tutte le prenotazioni</a>
		<a href="/login" class="hero-btn">Login</a>
	</body>
</html>