<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Inserisci una recensione</title>
	</head>
	
	<body>
		<h1>Scegli quale operazione sulle recensioni effettuare</h1>
		<a href="/formNewReview" >Inserisci una recensione</a>
		<a href="/reviews" >Visualizza tutte le recensioni</a>
		<a href="/formNewServizio" >Inserisci un servizio</a>
		<a href="/servizi" >Visualizza tutti i servizi</a>
		<a href="/formNewPrenotazione" >Inserisci una prenotazione</a>
		<a href="/prenotazioni" >Visualizza tutte le prenotazioni</a>
		<a href="/formNewPrestazione" >Inserisci una prestazione</a>
		<a href="/prestazioni" >Visualizza tutte le prestazioni</a>
		<a href="/login" >Login</a>
	</body>
</html>