<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>
  <link rel="stylesheet" href="style1.css">
</head>
<body>
  <header>
      <nav class="navbar">
        <h2 class="logo"><a href="/">CYCLEUP</a></h2>
        <div class="all-links" th:if="${user}">
		<span class="username" th:text="${user.username}"></span>
		<a href="/logout">LOGOUT</a>
	  </div>
      <div class="all-links" th:unless="${user}">
          <a href="/login">LOGIN</a>
      </div>
      </nav>
    </header>
  <section class="homepage">
    <br>
  <div class="grid-container">
    <div class="grid-item">
      <a href="/formNewReview">Nuova recensione</a>
    </div>
    <div class="grid-item">
      <a href="/reviews">Tutte le recensioni</a>
    </div>
    <div class="grid-item">
      <a href="/servizi">Tutti i servizi</a>
    </div>
    <div class="grid-item">
      <a href="/formNewPrenotazione">Inserisci prenotazione</a>
    </div>
    <div class="grid-item">
      <a href="/prenotazioni">Tutte le tue prenotazioni</a>
    </div>
    <div class="grid-item">
      <a href="/prestazioni">Tutte le tue prestazioni</a>
    </div>
  </div>
    </section>
</body>
</html>