<!DOCTYPE html>
<html>

<head>
    <title>Prenotazioni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/card.css" />
</head>

<body id="prens">
    <center>
        <h1>Prenotazioni</h1>
    </center>
    <div th:if="${prenotazioni.isEmpty()}">Non ci sono prenotazioni nel sistema</div>
    <div class="grid-container">
        <div th:each="prenotazione: ${prenotazioni}" class="grid-item">
            <a th:href="@{'/prenotazioni'+'/'+${prenotazione.id}}">
                <p th:text="${prenotazione.modelloBici + ' | ' + prenotazione.cliente.name + ' ' + prenotazione.cliente.surname}">Place</p>
            </a>
        </div>
    </div>
</body>

</html>
