<!DOCTYPE html>
<html>

<head>
	<title>Prenotazioni</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

	<div th:if="${prenotazioni.isEmpty()}">Non ci sono prenotazioni nel sistema</div>
		<ul>
			<li class="operation-col" th:each="prenotazione:${prenotazioni}">
				<a th:href="@{'/prenotazioni'+'/'+${prenotazione.id}}"
				th:text="${prenotazione.modelloBici} + ' ' + ${prenotazione.cliente.name} + ' ' + ${prenotazione.cliente.surname}">Prenotazione)</a>
			</li>
		</ul>

</body>

</html>