<!DOCTYPE html>
<html>

<head>
    <title>Prestazioni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/card.css" />
</head>

<body>
    <center>
        <h1>Prestazioni</h1>
    </center>
    <div th:if="${prestazioni.isEmpty()}">Non ci sono prestazioni nel sistema</div>
    <br>
    <div id="button">
    <a href="/"> <button class="btnlnk" type="button">Torna alla homepage</button></a>
    </div>
    <div class="grid-container">
        <div th:each="prestazione: ${prestazioni}" class="grid-item">
            <a th:href="@{'/prestazioni'+'/'+${prestazione.id}}">
                <p th:text="${prestazione.prenotazione.modelloBici} + ' ' + ' (' + ${prestazione.prezzoFinale} + ' &euro;)'">Place</p>
            </a>
        </div>
    </div>
</body>

</html>
