<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Registration successful</title>
	<link rel="stylesheet" href="style2.css">
</head>

<body>
		<div class="container">
          <h1 class="rheader">Congratulazioni ti sei registrato</h1>
          <div class="item">
              Nome: <span th:text="${user.name}"></span>
          </div>
          <div class="item">
              Cognome: <span th:text="${user.surname}"></span>
          </div>
          <div class="item">
              Email: <span th:text="${user.email}"></span>
          </div>
          <div  class="item">
            <a href="/login">Esegui il login</a>
          </div>
        </div>
</body>

</html>