<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Recensione</title>
	<link rel="stylesheet" href="/card.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="prenotazione">
	<div class="container" th:if="${servizio}">
		<h1 th:text="${servizio.title}">Titolo servizio</h1>
			<div>Testo: <span th:text="${servizio.description}">Descrizione</span></div>
			<div>Prezzo: <span th:text="${servizio.price}+' €'">Prezzo</span></div>
    </div>
</body>

</html>
