<!DOCTYPE html>
<html>

<head>
    <title>Servizi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/card.css" />
</head>

<body>
    <center>
        <h1>Servizi</h1>
    </center>
    <div th:if="${servizi.isEmpty()}">Non ci sono servizi nel sistema</div>
    <br>
    <div id="button">
    <a href="/"> <button class="btnlnk" type="button">Torna alla homepage</button></a>
    </div>
    <div class="grid-container">
        <div th:each="servizio:${servizi}" class="grid-item">
            <a th:href="@{'/servizi'+'/'+${servizio.id}}">
                <p th:text="${servizio.title}+' ('+${servizio.price}+' &euro;)'">Place</p>
            </a>
        </div>
    </div>
</body>

</html>
